body {
    text-transform: uppercase;
    background-color: white;
    margin: 0px;
    font-family: lexend deca, sans-serif;
}


/* Nav */
.navbar {
   text-transform: uppercase;
    overflow: hidden;
    background-color: #FF6F1C;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 3px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: right;
    padding: 20px 18px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar a:hover {
    color: white;
  }

  .navbar img {
    float: left;
    display: block;
    padding: 10px 18px;
    width: 150px;
    height: auto;
  }

  /*content */

  .item {
    text-transform: lowercase;
    font-weight: lighter;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    padding: 10px;
    justify-content: center;
  }

  .caption {
    display: block;
    justify-content: center;
  }
  
  /*produto*/
  .container-p {
    padding: 30px;
    margin-top: 60px;
    padding-top: 50px;
    justify-content: center;
  }

  .container-p img {
    width: 100px;
    height: 100px;
  }


  /*servico*/
  .container-s .item {
    display: inline-block;
    text-align: center;
    width: 120px;
    padding: 20px;

  }

  .container-s  {
    padding: 30px;
    margin-top: 60px;
    padding-top: 10px;
    justify-content: center;
  }

  .container-s img {
    width: 150px;
    height: auto;
    border-radius: 15px;
  }

  /*marca*/

  .container-m .item {
    display: inline-block;
    text-align: center;
    width: 120px;
    padding: 20px;

  }

  .container-m  {
    padding: 30px;
    margin-top: 30px;
    padding-top: 10px;
  }

  .container-m img {
    padding: 5px 5px;
    width: 250px;
    height: auto;
    border-radius: 15px;
  }



  /*footer */
  .footer {
    text-transform: uppercase;
    padding:15px 18px ;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .title {
    display: flex;
    justify-content: center;
  }
  
  .footer h3 {
    font-weight:lighter;
    margin-top: 0px;
  }

  .footer .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer img {
   width: 350px;
   height: auto;
   border-radius: 15px;
  }

  .material-icons {
    vertical-align: middle;
    position: relative;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
  }

  .contactos {
    padding: 10px 10px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  .contactos .icon {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
  }

/* Responsive */

@media (max-width: 715px) {

    .body {
      display: flex;
      justify-content: center;

    }
    .navbar a {
      opacity: 0;
    }

    .navbar img {
      justify-content: center;
    }

    .footer .info  {
      flex-direction: column;
      justify-content: center;
      display: flex;
      padding: 10px 10px;
    }

    .footer {

      flex-direction: column;
      justify-content: center;
    }

    

}