body {
    background-color: white;
}

.navbar {
    overflow: hidden;
    background-color: #ff4d00;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: black;
    text-align: right;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar a:hover {
    color: white;
  }

  .navbar img {
    float: left;
    display: block;
    padding: 15px 18px;
    max-width: 0.1vw;
  }
  
  .container {
    padding: 18px;
    margin-top: 35px;
    height: 2000px;
  }

  .footer {
    background-color: black;
    color: white;
  }